
#keyboard {
  padding: 16px 5px 9px 16px;

  #keypad {
    .buttons-row {
      margin-bottom: 7px;
    }

    button {
      height: 50px;
      width: 75px;
    }
  }

  button.down,
  button:active {
    background: #24ce68;
  }
}